.header-wrapper-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 80vw;
  left: 202px;
  padding: 20px 30px;
  height: 8vh;
}

.header-wrapper-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 7.8%);
  height: 42px;
  position: fixed;
  padding: 38px 4.6% 38px 3.3%;
}

.search-container {
  position: relative;
  display: flex;
  width: 300px;
  height: 16px;
  border: 2px solid rgba(49, 60, 62, 0.05);
  padding: 18px 20px;
  font-size: 12px;
  background-color: white;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-side {
  height: fit-content;
}

.left-side {
  height: 70px;
}

.search-icon {
  position: absolute;
  top: 28%;
  text-align: left;
  vertical-align: middle;
  z-index: 1;
  padding: 0 14px;
}

.search-input {
  text-align: center;
  width: inherit;
  border: none;
  border-radius: 18px;
  outline-width: 0;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  min-width: 88px;
  margin-left: 40px;
}

.my-wishes {
  min-width: 160px;
}
